<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/.css">
    <link rel="stylesheet" href="css/.css">
</head>
<body>
    <div class="adjustwrap">
        <div class="nav">
            <ul>
                <li><a href="index.html" target="_blank"  class="notcurrent">Safari</a></li>
                <li><a href="gallery.html" target="_blank"  class="current">Gallery</a></li>
                <li><a href="login.html" target="_blank"  class="notcurrent">Login / Sign Up</a></li>
            </ul>
        </div>
        <div class="con">
           <div class="abody">
               <div class="shell">
                    <div class="picbox">
                        <img src="./images/1.jpg" alt="">
                    </div>
                    <div class="picbox">
                       <img src="./images/2.jpg" alt="">
                    </div>
                    <div class="picbox">
                       <img src="./images/3.jpg" alt="">
                    </div>
                    <div class="picbox">
                     <img src="./images/4.jpg" alt="">
                    </div>
                    <div class="picbox">
                     <img src="./images/5.jpg" alt="">
                    </div>
                  </div>
             </div>

        <div class="upload">
            <h1>Upload Your Images Here</h1>
            <form action="/new-image" method="post" enctype="multipart/form-data">
            <input type="file" multiple>
            <input type="button" class="adjustbtn" value="Submit">
            </form>
        </div>
    </div>

 </div>

</body>
</html>